@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black,
    0px -1px 1px black, 0 0 1px black;
}

.text-shadow-sm {
  text-shadow: 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black,
    0px 0px 0.8px black, 0 0 0.8px black;
}

.hero {
  height: 800px;
}

.bg-image {
  @apply absolute h-full w-full -z-10;
  max-height: 800px;
}
